/* COLORS */

$color_primary: #ae040d;
$color_primary_light: #f8002f;
$color_primary_dark: #1a1a1d;
$color_primary_text: #1a1a1d;
$color_secondary_text: #c4c4c4;
$color_secondary_light: #f3f3f3;
$color_white: #fff;
$color_whitish: #f0f0f0;
$color_transp: transparent;
